
@{
    ViewBag.Title = "Home Page";
}


<h2>Account Verification</h2>


<div class="panel-body">

    @*@using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        @Html.ValidationSummary(false)
        <div class="col-md-12 inputGroupContainer">
            <div class="col-md-12 col-sm-12">
                <div class="form-group col-md-4 col-sm-4">

                    <select id="verificationtype" onchange="loadPartial()">
                        <option value="0">--select a partial view to load--</option>
                        <option value="Email">Email</option>
                        <option value="ResendEmail">Resend Email</option>
                        <option value="SMS">SMS</option>
                        <option value="Call">Call</option>
                    </select>



                </div>
            </div>
            <div class="col-md-12 col-sm-12">
                @if (ViewBag.Response != null)
                {
                    { { @ViewBag.Response.status} }
                    <br />
                    {
                        { @ViewBag.Response.statusMessage}
                    }

                }
                <div id="partial">
                    <div id="sd">
                    </div>
                </div>
            </div>
        </div>

    }
    <script type="text/javascript">
        function loadPartial() {
            var type = $("#verificationtype").val();
            alert(name);
            $("#partial").load('/Home/LoadVerificationTypeView/?type=' + type);
        }
    </script>*@
</div>
